/* variables */

$min-supported-width: 960px
$color-magenta: #F75A81
$color-blue: #4496B2
$color-grey-dark: #333131
$color-grey-light: #63625F
$color-white: white
$color-black: black

/* base rules */

a
    text-decoration: none

a:hover
    text-decoration: none
