/* common */

body
    +clear-indents()

$header-height: 60px

/* header */

header
    +blue-colored()
    position: fixed
    height: $header-height
    right: 0
    left: 0
    top: 0
    z-index: 5


.header-content
    +centr-colomn-block()
    padding-top: 20px

    div.header-logo-block
        display: inline-block
        margin-right: 20px

    nav
        display: inline-block
        ul
            +clear-indents()
            list-style-type: none

        li
            display: inline-block
            margin: 0 10px
            +font(medium, 26px, $color-white)

/* content */

div.content-block
    padding-top: $header-height
    width: 100%

/* footer */

footer
    width: 100%
    height: 200px
    +coloring($color-grey-dark, $color-grey-light)


.footer-content
    padding-top: 1em
    +centr-colomn-block()


.footer-grid-wrapper
    +grid-container()


div.footer-logo-block
    +grid-position(3)


div.footer-social-icons-block
    +grid-position(3)


div.footer-contacts-block
    +grid-position(6)


ul.footer-social-icons-list
    list-style-type: none
    +clear-indents()


ul.footer-contacts-list
    list-style-type: none
    +clear-indents()
