.visitor-form-block
    padding: 2rem 0
    margin: 3rem

.visitor-form-field
    -webkit-appearance: none
    -moz-appearance: none
    -ms-appearance: none
    appearance: none
    border: none
    outline: 0
    box-shadow: none
    border-bottom: 0.2rem solid $color-grey-dark
    background-color: inherit
    +text-font($color: $color-black)
    padding: 0.5rem 0
    margin: 1rem 0
    width: 100%
    box-sizing: border-box


.visitor-form-field:focus
    border-bottom: 0.5rem solid $color-black


.visitor-form-field:invalid,
.visitor-form-field-invalid
    border-bottom: 0.5rem solid $color-magenta


.visitor-form-button
    +button($width: 100%)
    display: block
    border: none
    -webkit-appearance: none
    -moz-appearance: none
    -ms-appearance: none
    appearance: none
    +blue-colored()