.points-list-block
    +grid-container($width:100%)


.points-list-point
    +grid-row()


.points-list-times
    +grid-position(3)
    color: $color-grey-dark
    +font($regular, 18pt, $color-grey-light)


.points-list-title
    +grid-position(5)
    +font($regular, 20pt, $color-black)
    text-align: center


.points-list-authors
    +grid-position(4)
    text-align: right

.points-list-author-name
    +font($regular, 20pt, $color-black)

.points-list-author-company
    +font($regular, 14pt, $color-grey-light)