.points-list-block
    +grid-container($width:100%)


.points-list-point
    +grid-row()


.points-list-times
    +grid-position(2)
    color: $color-grey-dark


.points-list-title
    +grid-position(4)


.points-list-authors
    +grid-position(6)

.points-list-author-name
    color: $color-black

.points-list-author-company
    color: $color-grey-dark