/* font include */

$bold: 900
$regular: 500
$light: 200

@font-face
    font-family: Ubuntu
    src: url('/static/Ubuntu-L.ttf') format('truetype')
    font-weight: $light
    font-style: normal


@font-face
    font-family: Ubuntu
    src: url('/static/Ubuntu-R.ttf') format('truetype')
    font-weight: $regular
    font-style: normal


@font-face
    font-family: Ubuntu
    src: url('/static/Ubuntu-B.ttf') format('truetype')
    font-weight: $bold
    font-style: normal

/* variables and mixins */

$font: Ubuntu, Helvetica, Arial, sans-serif
$base-font-size: 14pt


=font($weight, $size, $color: null)
    font-family: $font
    font-weight: $weight
    font-size: $size
    @if $color
        color: $color


=header-font($size: 36pt, $color: null)
    +font($bold, $size, $color)


=subheader-font($color: null)
    +font($regular, 24pt, $color)


=text-font($color: null)
    +font($light, 18pt, $color)

/* base rules */

body
    font-family: $font