=clear-indents()
    margin: 0
    padding: 0


=centered-horizontal()
    margin-left: auto
    margin-right: auto


=centr-colomn-block($width: $min-supported-width)
    width: $width
    +centered-horizontal()


=coloring($back, $front)
    background-color: $back
    color: $front


=magenta-colored()
    +coloring($color-magenta, $color-white)


=blue-colored()
    +coloring($color-blue, $color-white)


=grey-colored()
    +coloring($color-grey-dark, $color-white)


=black-colored()
    +coloring($color-black, $color-white)


=button($width: 50%, $centered: true)
    padding: 1.5rem
    +subheader-font()
    text-align: center
    @if $width
        width: $width
    @if $centered
        +centered-horizontal()
    margin-top: 3rem
    margin-bottom: 3rem
    cursor: pointer
