/* event information */

.view-ev-event-block
    width: 100%
    min-height: 200px


.view-ev-event-title-block
    text-align: center
    +centr-colomn-block()


.view-ev-event-summary-block
    +centr-colomn-block()


.view-ev-event-summary-wrapper
    +grid-container()

.view-ev-event-place-block
    +grid-position(4, 1)

.view-ev-event-date-block
    +grid-position(4, 2)


.view-ev-event-info-block
    +centr-colomn-block()

