/* private utils */

=view-event-section-header()
    width: 100%
    +grey-colored()
    +subheader-font()
    text-align: center
    padding: 1rem 0

a.block-link
    display: block
    height: 100%
    width: 100%

.anchor
    visibility: hidden
    margin-top: -$header-height
    position: absolute
    height: 0

/* event information */

.view-ev-event-block
    width: 100%
    min-height: 60rem
    background: url(view-ev-event-block-back.jpg) no-repeat center;
    background-size: cover
    padding-bottom: 5rem


.view-ev-event-info-block
    text-align: center
    +centr-colomn-block()
    padding: $header-height 0 5rem 0

    h1
        +header-font($size: 7.2rem, $color: $color-white)

    p
        +subheader-font($size: 4.2rem, $color: $color-white)


.view-ev-event-summary-block
    +grid-container($width:$min-supported-width, $centered: true)


=view-ev-event-info-block($offset)
    +grid-position(4, $offset)
    height: 30rem
    +magenta-colored()
    text-align: center

    p:nth-child(1)
        +header-font()

    p
       +subheader-font()

    img
        heigth: 10rem
        width: 10rem


.view-ev-event-place-block
    +view-ev-event-info-block(1)


.view-ev-event-date-block
    +view-ev-event-info-block(2)

/* actions */

.view-ev-actions-block
    +blue-colored()
    padding: 2rem 0

.view-ev-actions-motivation-block
    +centr-colomn-block()
    +text-font()
    margin-bottom: 1.5rem

.view-ev-actions-buttons-block
    +grid-container($width:$min-supported-width, $centered: true)


=view-ev-action-button($offset)
    +grid-position(4, $offset)
    +magenta-colored()
    +button(null, null)


.view-ev-contribute-button
    +view-ev-action-button(1)


.view-ev-registration-button
    +view-ev-action-button(2)


/* schedule */

.view-ev-schedule-header-block
    +view-event-section-header()


.view-ev-schedule-block
    +centr-colomn-block()
    padding: 1rem 0


.view-ev-schedule-section-block
    margin: 3rem 0
    +subheader-font()

    h3
        display: inline
        width: auto

    p
        display: inline
        color: $color-grey-light
        margin-left: 2rem


.view-ev-schedule-register-button
    +blue-colored()
    +button()

/* map */

.view-ev-map-header-block
    +view-event-section-header()


.view-ev-map-block
    width: 100%


.view-ev-map-ycontainer
    width: 100%
    min-height: 400px

/* register */

.view-ev-registration-block
    width: 100%
    min-height: 400px
    background: url(view-ev-registration-block-back.jpg) no-repeat center;
    background-size: cover
    padding: 3rem 0


.view-ev-registration-column-block
    +centr-colomn-block($width: $min-supported-width)


.view-ev-registration-form-block
    background: $color-white
    width: 30rem
    margin 2rem 0

/* partners */

.view-ev-partners-header-block
    +view-event-section-header()


.view-ev-partners-block
    +centr-colomn-block()

.view-ev-partners-list-block
    text-align: center

.view-ev-partners-partner-block
    display: inline-block
    max-width: 32rem
    padding: 1rem 0

    img
        max-width: 30rem
        max-height: 30rem
        vertical-align: middle
        margin: 0 1rem

    h3
        +subheader-font($color: $color-grey-light)

.view-ev-partners-become-button
    +button()
    +black-colored()