<div>
    <h3>Зарегистрироваться</h3>
    <form action="{% url 'registration' %}" method="post">
        {% csrf_token %}
        {{ form.event }}
        {% comment %}
            TODO: need error showing or indication
        {% endcomment %}
        <div>
            {{ form.email }}
        </div>
        <div>
            <div>
                {{ form.name }}
            </div>
            <div>
                {{ form.position }}
            </div>
            <div>
                {{ form.company }}
            </div>
            <input type="submit" value="go"/>
        </div>
    </form>
</div>