{% load widget_tweaks %}
<div>
    <form action="{% url 'registration' %}" method="post">
        {% csrf_token %}
        {{ form.event }}
        {% comment %}
            TODO: need error showing or indication
        {% endcomment %}
        <div>
            {% render_field form.email placeholder='em@il' %}
        </div>
        <div>
            <div>
                {% render_field form.name placeholder='ФИО' %}
            </div>
            <div>
                {% render_field form.position placeholder='кем работаешь?' %}
            </div>
            <div>
                {% render_field form.company placeholder='где работаешь?' %}
            </div>
            <input type="submit" value="регистрация"/>
        </div>
    </form>
</div>