<ul>
{% for point in points %}
    <li>
        <div>
            {{ point.start }} - {{ point.start }}<h3>{{ point.title }}</h3>
        </div>
        <div>
        {% for author in point.authors %}
            <div>
                <div> {{ author.name }} </div>
                <div> {{ author.company }} </div>
                <div> {{ author.position }} </div>
            </div>
        {% endfor %}
        </div>
        <div>
            {{ point.description }}
        </div>
        {% if point.materials %}
        <div>
            <h3>материалы</h3>
            <ul>
                <li><a href="{{ point.materials.slides }}">слайды</a></li>
                <li><a href="{{ point.materials.video }}">видео</a></li>
                <li><a href="{{ point.materials.sources }}">код</a></li>
            </ul>
        </div>
        {% endif %}
    </li>
{% endfor %}
</ul>