<div class="points-list-block">
{% for point in points %}
    <div class="points-list-point">
        <div class="points-list-times">
            {{ point.start|time:"H:i" }} - {{ point.end|time:"H:i" }}
        </div>
        <div class="points-list-title">
            {{ point.title }}
        </div>
        <div class="points-list-authors">
        {% for author in point.authors %}
            <div>
                <div class="points-list-author-name"> {{ author.name }} </div>
                <div class="points-list-author-company"> {{ author.company }} </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}
</div>