<div class="points-list">
{% for point in points %}
    <article class="points-list-point">
        <div class="points-list-point-leftside">
            <div class="points-list-point-times">
                {{ point.start|time:"H:i" }} - {{ point.end|time:"H:i" }}
            </div>
            {% for author in point.authors.all %}
            <div>
            {% if author.photo%}
                <img class="points-list-point-author-photo" alt="ooops..." src="{{ author.photo.url }}"/>
            {% endif %}
                <div class="points-list-point-author-name"> {{ author.name }} </div>
                <div class="points-list-point-author-company"> {{ author.company }} </div>
            </div>
            {% endfor %}
        </div>
        <div class="points-list-point-rightside">
            <h4 class="points-list-point-title">
                {{ point.title }}
            </h4>
            <p class="points-list-point-description">
                {{ point.description }}
            </p>
        </div>
    </article>
{% endfor %}
</div>