<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Dev2Dev {% endblock %}</title>
</head>
<body>
    <header>
        <div>
            <a><img alt="logo"/></a>
        </div>
        <nav>
            <div>
                <div><a href="{% url 'main' %}">Текущие событие</a></div>
                <div><a href="{% url 'history' %}">Прошедшие события</a></div>
                <div><a href="{% url 'about' %}">Dev2Dev</a></div>
                <div><a href="{% url 'contribute' %}">Мне не все равно</a></div>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock %}
    <footer>
        <div>
            <a><img alt="logo"/></a>
        </div>
        <div>
            <div>
                <div><a><img alt="YouTube"/></a></div>
                <div><a><img alt="VK"/></a></div>
                <div><a><img alt="G+"/></a></div>
                <div><a><img alt="Email"/></a></div>
            </div>
        </div>
        <div>
            <h3>Контакты</h3>
            <div>
                <div>+79135694913 Акуляков Артём</div>
                <div>+79082068544 Волков Алексей</div>
                <div>dev2dev.conf@gmail.com</div>
            </div>
        </div>
    </footer>
</body>
</html>