{% extends '_layout.html' %}

{% block title %} {{ event.name }} {% endblock %}

{% block content %}

<div class="view-ev-event-block">
    <div class="view-ev-event-title-block">
        <h1>{{ event.name }}</h1>
    </div>
    <div class="view-ev-event-summary-block">
        <div class="view-ev-event-place-block">
            <span>{{ event.place.name }}</span>
        </div>
        <div class="view-ev-event-date-block">
            <span>{{ event.date|date:"d.m, l" }}</span>
        </div>
    </div>
    <div class="view-ev-event-info-block">
        <p>{{ event.description }}</p>
    </div>
</div>
<div class="view-ev-actions-block">
    <a class="view-ev-contribute-button" href="{% url 'contribute' %}">Хочу помочь сообществу</a>
    <a class="view-ev-registration-button">Хочу пойти</a>
</div>
<div class="view-ev-schedule">
{% for section in event.sections %}
    <div class="view-ev-schedule-header">
        <h2>{{ section.name }}</h2>
        <p>{{ section.description }}</p>
    </div>
    {% include 'includes/points_list.html' with points=section.points only %}
{% empty %}
    {% include 'includes/points_list.html' with points=event.points only %}
{% endfor %}
</div>
<div>
    <h3>{{ event.place.name }}</h3>
    <p>{{ event.place.address }}</p>
    <div
            data-latitude="{{ event.place.latitude }}"
            data-longitude="{{ event.place.longitude }}">
        map was here
    </div>
</div>
{% if form %}
<div>
    {% include 'includes/new_visitor_form.html' with form=form %}
</div>
{% endif %}

{% endblock %}