{% extends '_layout.html' %}

{% block title %} {{ event.name }} {% endblock %}

{% block content %}

<div class="view-ev-event-block">
    <div class="view-ev-event-title-block">
        {{ event.name }}
    </div>
    <div class="view-ev-event-info-block">
        <p>{{ event.description }}</p>
    </div>
    <div class="view-ev-event-summary-block">
        <div class="view-ev-event-place-block">
            <p class="view-ev-event-info-block-first">{{ event.place.name }}</p>
            <p class="view-ev-event-info-block-second">{{ event.place.address }}</p>
        </div>
        <div class="view-ev-event-date-block">
            <p class="view-ev-event-info-block-first">{{ event.date|date:"d.m" }}</p>
            <p class="view-ev-event-info-block-second">{{ event.date|date:"l" }}</p>
        </div>
    </div>
</div>
<div class="view-ev-actions-block">
    <div class="view-ev-actions-motivation-block">
        <p>
            D2D - это it-сообщество созданное разработчиками для разработчиков. Нас легион
            и мы стремимся развивать инженерную культуру, проводя различные профильные события.
        </p>
        <p>
            Ты можешь помочь нашему делу сделав доклад, проведя мастеркласс, побыв
            волонтером или пожертвовав средства на следующие событие.
        </p>
        <p>
            А еще ты можешь просто прийти на событие, это тоже очень поможет. :)
        </p>
    </div>
    <div class="view-ev-actions-buttons-block">
        <div class="view-ev-contribute-button">
            <a href="{% url 'contribute' %}">xочу помочь</a>
        </div>
        <div class="view-ev-registration-button">
            <a>xочу пойти</a>
        </div>
    </div>
</div>
<div class="view-ev-schedule-header-block">
    <h3>Расписание</h3>
</div>
<div class="view-ev-schedule-block">
{% for section in event.sections %}
    <div class="view-ev-schedule-section-block">
        <h2>{{ section.name }}</h2>
        <p>{{ section.description }}</p>
    </div>
    {% include 'includes/points_list.html' with points=section.points only %}
{% empty %}
    {% include 'includes/points_list.html' with points=event.points only %}
{% endfor %}
    <div class="view-ev-schedule-register-button">
        <a>регистрироваться</a>
    </div>
</div>
<div class="view-ev-map-block">
    <div class="view-ev-map-info-block">
        <h3>
            <span>{{ event.place.name }}</span> |
            <span>{{ event.place.address }}</span> |
            <span>{{ event.date|date:"d.m, l" }}</span>
        </h3>
    </div>
    <div class="view-ev-map-ycontainer"
         data-latitude="{{ event.place.latitude }}"
         data-longitude="{{ event.place.longitude }}">
    </div>
</div>
{% if form %}
<div class="view-ev-registration-block">
    <div class="view-ev-registration-column-block">
        <div class="view-ev-registration-form-block">
            {% include 'includes/new_visitor_form.html' with form=form %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}